<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>	
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Trilha Brasil">
        <meta name="author" content="João Pedro Schmitt">
        <link rel="icon" href="img/icon.svg" >
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
        <link href="/css/global.css" rel="stylesheet" />
	</head>
	<body>
	</body>
	<script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
</html>